@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Rubik+Iso&display=swap');
/* non inherited*/
body{
  font-family: 'Rubik Iso', cursive;
  border: 2px solid red;
}
/* inherited */
body{
  color: blueviolet;
}